*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  font-weight: 20px;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

h1 {
  margin: 0;
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding-top: 25px;
  text-align: center;

}

nav li {
  display: inline;
  margin-right: 20px;

}

nav a {
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

.main h2{
  padding-top: 30px;
}

.skills h2{
  border-bottom: 1px solid #333;
  padding-top: 30px;

}

.skills ul{
  padding-top: 20px;
}

.skills ul li{
  display: flex;
  padding-top: 10px;
  justify-content: center;
}

.footer h2 {
  border-bottom: 1px solid #333;
  padding-top: 30px;
}

ul {
  padding-left: 20px;
}

p {
  line-height: 1.6;
}

.footer p{
  padding-top: 30px;
}

